html, body {
      margin: 0px;
      padding: 0px;
      font-family: Oswald;
      color: black;
      background: #e6ffff;
}

a {
    word-wrap: break-word;
}

#graph-area {
    display: flex;
    position: relative;
    border-bottom: solid;
    border-top: dashed;
    height: 50vh;
    margin-top: .5em;
    width: 100%;
    /* background: ; */
}

#graph-labels {
    display: flex;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 0px;
}

.graph-label {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.graph-column {
    position: relative;
    height: inherit;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.graph-bar {
    flex-grow: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    text-align: center;
}

.bar-remainder {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3399ff;
}

.after-tax {
    font-weight: bold;
    font-size: 1.5em;
}

.side-panel {
    height: 50vh;
}

#left-panel {
    left: 0px;
    text-align: right;
    z-index:2;
    flex: 0;
    min-width: 80px;
}

#graph-panel {
    flex: 1;
}

.side-amount {
    height: 10%;
}

#info {
    padding: 20px;
    background-color: #337F86;
    min-height: 400px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

h2 {
    text-align: center;
}

#graph-container {
    display: flex;
}

#slider {
    width: 100%;
}

#slider-val {
    width: 100%;
    margin: 5px 0;
    font-size: 3em;
    text-align: center;
}
